.container {
  display: flex;
  flex-direction: column;
  font-family: "JetBrains Mono",monospace;
  align-items: center;
  color: #36395A;
 }
 .dashboard-button {
  padding: 12px 10px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
 }
 
 body {
  background-color: #F7EDE2;
 }